body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.btn1{
    text-decoration: none;
    background-image: linear-gradient(rgba(244, 34, 101, 0.455),rgb(244, 33, 230));
    padding: 10px 25px;
    color: white;
    margin-left: 250px;
    
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 0, 0, 0.455),rgb(239, 50, 50));
    padding: 10px 25px;
    color: white;
   
    
}

.flexible{
    display: flex;
   background-color: rgb(243, 212, 242);
   margin-bottom: 100px;
   
   
}
.hei{
    height: 70vh;
   
}
.nei{
    height: 50vh;
}
.sei{
    height: 55vh;
}

.flexible2{
    display: flex;
    
}
.half{
    width: 50%;
   
    margin-left: 50px;
    
}
.mid{
    text-align: center;
}
.des1{
    background-color: palevioletred;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    
}
.des2{
    background-color: rgb(87, 157, 227);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    
}
.des3{
    background-color: rgb(172, 171, 171);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    
}
.triple{
    width: 25%;
    margin-left: 75px;
    margin-right: 75px;
}
.triple1{
    width: 25%;
    margin-left: 170px;
    margin-right: 170px;
}
.about{
    display: flex;
    margin: 150px 40px 50px 40px;
    padding: 20px 15px 20px 15px;
    
    background-color: rgb(193, 186, 186);
}
.org{
    color: orange;
}
.four{
    display: flex;
    background-color: papayawhip;
    margin-bottom: 70px;
}
.five{
    text-align: center;
}
.six{
   margin-left: 25px;
}
.seven{
    margin-left: 20px;
}
.eight{
    margin-bottom: 100px;
    
}
#email{
    width: 450px;
    height: 37px;
    border: none;
}
.nine{
    margin-bottom: 100px;
    text-align: center;
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.purp{
    color: purple;
}
.ten{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 10px;
}
.boro{
    font-size: 30px;
}